In [2]:
import pandas as pd
df_1 = pd.read_excel('./NLP_Class_Dataset/G01.xlsx')
df_2 = pd.read_excel('./NLP_Class_Dataset/G02.xlsx')
df_3 = pd.read_excel('./NLP_Class_Dataset/G03.xlsx')
df_4 = pd.read_excel('./NLP_Class_Dataset/G04.xlsx')
df_5 = pd.read_excel('./NLP_Class_Dataset/G05.xlsx')
df_6 = pd.read_excel('./NLP_Class_Dataset/G06.xlsx')
df_7 = pd.read_excel('./NLP_Class_Dataset/G07.xlsx')
df_8 = pd.read_excel('./NLP_Class_Dataset/G08.xlsx')
df_9 = pd.read_excel('./NLP_Class_Dataset/G09.xlsx')
df_10 = pd.read_excel('./NLP_Class_Dataset/G10.xlsx')
df_11 = pd.read_excel('./NLP_Class_Dataset/G11.xlsx')

In [3]:
df = pd.merge(df_1,df_2, how="outer").merge(df_3, how="outer").merge(df_4, how="outer").merge(df_5, how="outer").merge(df_6, how="outer").merge(df_7, how="outer").merge(df_8, how="outer").merge(df_9, how="outer").merge(df_10, how="outer").merge(df_11, how="outer")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       582 non-null    object
 1   title    580 non-null    object
 2   content  580 non-null    object
 3   topic    582 non-null    object
dtypes: object(4)
memory usage: 18.3+ KB

In [5]:
df = df.dropna(how="any")
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 580 entries, 0 to 581
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       580 non-null    object
 1   title    580 non-null    object
 2   content  580 non-null    object
 3   topic    580 non-null    object
dtypes: object(4)
memory usage: 22.7+ KB

In [6]:
combined_df = df.groupby('topic').agg({
    'id': lambda x: ', '.join(x),
    'title': lambda x: ' '.join(x),
    'content': lambda x: ' '.join(x)
}).reset_index()

display(combined_df)

,topic,id,title,content
0,Chính trị,"G04_001, G04_002, G04_003, G04_004, G04_005, G...",Việt Nam sẽ có hai tuyến đường sắt tốc độ cao ...,Phó thủ tướng Trần Hồng Hà vừa phê duyệt điều ...
1,Du lịch,"G09_001, G09_002, G09_003, G09_004, G09_005, G...",Bí ẩn thi thể nổi tiếng nhất Everest Triển lãm...,"Thi thể ""Giày xanh"" được xem như cột mốc nổi t..."
2,Giáo dục,"G06_001, G06_002, G06_003, G06_004, G06_005, G...",Dự kiến trung tâm dạy thêm phải công khai danh...,"Không chỉ về mức thu, thời khóa biểu, cơ..."
3,Giải trí,"G02_001, G02_002, G02_003, G02_004, G02_005, G...",Diễn viên Đình Tú - Ngọc Huyền cưới Dimash - '...,"Diễn viên Đình Tú, 33 tuổi, và Ngọc Huyền, 28 ..."
4,Khoa học và công nghệ,"G05_001, G05_002, G05_003, G05_004, G05_005, G...",Ứng dụng học tại nhà nhận 'bão một sao' Ảnh kh...,Ứng dụng Zoom Cloud Meetings nhận được nhiều đ...
5,Kinh doanh,"G03_001, G03_003, G03_004, G03_007, G03_008, G...","GDP quý III tăng 8,23% TP HCM đặt mục tiêu nửa...","Tại họp báo sáng 6/10, Cục Thống kê (Bộ Tài ch..."
6,Quan hệ quốc tế,"G11_001, G11_002, G11_003, G11_004, G11_005, G...",Tân Ngoại trưởng Rubio: Việt - Mỹ là hình mẫu ...,Trong cuộc điện đàm với Ngoại trưởng Mỹ Marco ...
7,Sức khoẻ - y tế,"G08_001, G08_002, G08_003, G08_004, G08_005, G...",Những 'bước tiến diệu kỳ' của Trúc Nhi - Diệu ...,"""Bước tiến diệu kỳ"" của Trúc Nhi - Diệu Nhi là..."
8,Thể thao,"G01_001, G01_002, G01_003, G01_004, G01_005, G...",Amorim: 'Man Utd có thể thắng nhiều hơn nếu đá...,Hệ thống 3-4-3 của Amorim gây tranh cãi từ khi...
9,Xã hội - Đời sống,"G10_001, G10_002, G10_003, G10_004, G10_005, G...",Người trẻ chọn sống tối giản Giá xăng tăng ảnh...,Ngày càng nhiều bạn trẻ lựa chọn lối sống tối ...
10,môi trường và thiên tai,"G07_001, G07_002, G07_003, G07_004, G07_005, G...",những người nước ngoài chuyển khỏi hà nội vì ô...,"yêu hà nội và đã gắn bó 8 năm, nhưng william g..."

### Cách 1

In [ ]:
# from pyvi import ViTokenizer
# ViTokenizer.tokenize('Hôm nay tôi đi học')

'Hôm_nay tôi đi học'

### Cách 2

In [8]:
import underthesea # khuyên dùng vì return về list

In [9]:
for i in range(len(combined_df["content"])):
  combined_df.loc[i, "content"] = " | ".join(underthesea.word_tokenize(combined_df["content"][i]))

In [10]:
for i in range(len(combined_df["title"])):
  combined_df.loc[i, "title"] = " | ".join(underthesea.word_tokenize(combined_df["title"][i]))

### Câu 1 - Tạo một bảng dữ liệu trong đó, mỗi từ là một feature, và giá trị của nó là số lần xuất hiện của nó. Có thể cộng cả content+title lại. Tiếp đến feed bảng dữ liệu này vào 3 mô hình học máy của scikit (Logistic, SVM, NaiveBayes)

In [11]:
import re

def clean_text(text):
    # Loại bỏ các ký tự không phải chữ cái, số, khoảng trắng và dấu |
    text = re.sub(r'[^\w\s|]', ' ', text)

    # Loại bỏ số
    text = re.sub(r'\d+', ' ', text)

    # # Loại bỏ khoảng trắng thừa
    # text = re.sub(r'\s+', ' ', text).strip()

    # Loại bỏ các dấu | thừa
    text = re.sub(r'\|+', '|', text)
    text = re.sub(r'^\||\|$', '', text)

    return text

combined_df['title_clean'] = combined_df['title'].apply(clean_text)
combined_df['content_clean'] = combined_df['content'].apply(clean_text)

In [12]:
# Bước 1: Kết hợp title và content để tạo text đầy đủ
combined_df['full_text'] = combined_df['title_clean'] + ' ' + combined_df['content_clean']
print(f"\nSố lượng samples: {len(combined_df)}")
display(combined_df[['topic', 'full_text']].head())

Số lượng samples: 11

                    topic                                          full_text
0               Chính trị  Việt Nam | sẽ | có | hai | tuyến | đường | sắt...
1                 Du lịch  Bí ẩn | thi thể | nổi tiếng | nhất | Everest T...
2                Giáo dục  Dự kiến | trung tâm | dạy | thêm | phải | công...
3                Giải trí  Diễn viên | Đình Tú |   | Ngọc Huyền cưới | Di...
4  Khoa học và công nghệ   Ứng dụng học | tại | nhà | nhận |   | bão | mộ...

In [ ]:
# Tách cột full_text thành list từ
combined_df['words'] = combined_df['full_text'].str.split('|')

# Tách dòng (explode) để mỗi từ thành một hàng
df_exploded = combined_df.explode('words')

# Xóa khoảng trắng dư
df_exploded['words'] = df_exploded['words'].str.strip()

# Đếm số lần từ xuất hiện trong từng topic
df_count = pd.crosstab(df_exploded['topic'], df_exploded['words'])

# Reset index
df_count = df_count.reset_index()

# Hiển thị kết quả
df_count.head()

words,,A,A Cựu,A Hoàng An,A Định hình,A Global History,A Lưới,A Night With The Stars,A Short History of Nearly Everything,A Stage for Literature and Translation,...,ứng,ứng cứu,ứng cử,ứng cử viên,ứng dụng,ứng phó,ứng viên,ứng xử,ửng,ỷ
topic,,,,,,,,,,,,,,,,,,,,,
Chính trị,5213,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,1,1,0,0
Du lịch,5479,1,0,0,0,1,0,0,0,0,...,0,0,0,0,12,0,0,1,0,0
Giáo dục,123,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,1,0,0
Giải trí,2306,0,0,0,0,0,0,1,1,1,...,0,0,0,1,1,0,0,6,0,0
Khoa học và công nghệ,4893,2,0,0,0,0,0,0,0,0,...,0,0,0,0,69,1,1,0,0,0

### Feed vào 3 mô hình

In [ ]:
y = df_count['topic']
X = df_count.drop('topic', axis=1)

print(f"Shape of X (features): {X.shape}")
print(f"Shape of y (target): {y.shape}")

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [ ]:
def TrainModel(model, _X_train, _X_test, _y_train, _y_test):
    model.fit(_X_train, _y_train)

    y_pred = model.predict(_X_test)

    acc = accuracy_score(_y_test, y_pred)
    prec = precision_score(_y_test, y_pred, average='macro', zero_division=0)
    rec = recall_score(_y_test, y_pred, average='macro', zero_division=0)
    f1 = f1_score(_y_test, y_pred, average='macro', zero_division=0)
    print(f"Model {model} - Accuracy: {acc:.4f}, Precision: {prec:.4f}, Recall: {rec:.4f}, F1: {f1:.4f}")

    return model

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB

logistic = TrainModel(LogisticRegression(solver='liblinear', random_state=42), X_train, X_test, y_train, y_test)
svm = TrainModel(SVC(kernel="sigmoid"), X_train, X_test, y_train, y_test)
nb = TrainModel(MultinomialNB(), X_train, X_test, y_train, y_test)